

body {
    margin: 0;
    background-color: whitesmoke;
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#6441A5; 
}

header > img {
    height: 80%;
    
}

header > p {
    font-family: VT323, monospace;
    color: whitesmoke;
    font-size: 50px;
    margin-left: 2%;
    font-weight: bolder;
}

.meme {
    position: relative;
    width: 70%;
    margin: auto;
}

.meme > img {
    width: 100%;
}

.meme > h2 {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    
}

.meme > .bottom {
    bottom: 0;
}

.meme > .top {
    top: 0;
}

.meme-form {
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.meme-form > input {
    width: 45%;
    height: 50px;
}

.meme-form > button {
    border: none;
    font-family: VT323, monospace;
    font-size: 25px;
    letter-spacing: 1.5px;
    color: white;
    background: #6441A5;
}

@media(max-width:500px){
    
    .meme-form {
        width: 75%;
        flex-direction: column;
        
    }
    .meme-form > input {
        width: 97%;
        height: 45px;
        margin: 1% 0;
    }
    .meme {
        width: 75%;    
    }
    header {
        padding: 0 2%;
    }
    header > img {
        height: 60%;
    }
    header > p {
        font-size: 35px;
    }
}
